@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.body {
font-family: 'Quicksand', sans-serif;
width: 100vw;
height: 100vh;
position: absolute;
top: 0px;
left: 0px;
background-image: linear-gradient(to right top, #000000, #181818, #292929, #3b3b3b, #4e4e4e);

}